#container {
  margin: 0 auto;
  width: 90%;
  height: 1000px;
  border: 4px solid black;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box {
  font-size: 1.5rem;
}

#redbox {
  /* grid-column-start: 2;
  grid-column-end: 4; */

  grid-row-start: 1;
  grid-row-end: 4;

  // shorthand
  // grid-column: 2 / 4;
  // grid-row: 2 / 4;
};