* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#container {
  border: 4px solid black;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  height: 100%;
  margin: 0 auto;
  overflow: none;
  width: 1008px;
}

.box {
  font-size: 1.5rem;
  text-align: center;
}